*{
  margin: 0;
  padding: 0;
}
.App{
  color: white;
  height: 100vh;
}

.main-container{
  width:90%;
  margin: auto;
  color:black;
  display:flex;
}
.user-container{
  width:70%;
  margin-top: 60px;
}
.user-header{
  text-align: center;
  width:98%;
  margin: auto;
  border: 1px solid gray;
  border-radius: 10px;
  padding-bottom: 8px;

}
.addUser{
  width:30%;
}
.addUserHeader{
  width:30%;
  margin-top: 60px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding-bottom: 8px;
  position:fixed;
}
.card{
  width:30%;
  border: 1px solid gray;
  height: 300px;
  margin-top: 113px;
  border-radius:10px;
  box-shadow: 5px 5px 5px gray;
  position: fixed;
}
.card-child{
  padding:30px
}